:root{

    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
}

body{
    height: 100vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 70px;
    font-family: Righteous, sans-serif;
}
header{
    display: flex;
    align-items: center;
    gap: 16px;
}

header span{
    font-size: 32px;
    color: var(--secundary-color);
}

main{
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sombra{
    position: absolute;
    font-size: 28vw;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 22vw;
    color: white;
}

.container{
    height: 154px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 64px;
}

.explicacao h2{
    font-size: 64px;
    color: var(--secundary-color);
}

.explicacao p{
    font-size: 20px;
    color: var(--secundary-color);
    width: 500px;
}

.container a{
    width: 400px;
    height: 100px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}

.pikachu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

footer{
    text-align: center;
    color: var(--secundary-color);
}

@media (max-width: 1024px){
    body{
        padding: 30px;
    }
    footer{
        display: none;
    }
    .sombra{
        transform: translate(-50%, -180%);
       }
   h1{
    transform: translate(0, -30%);
   }
   .container{
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
    gap: 10px;
   }
   .explicacao p{
    text-align: center;
   }
   .pikachu{
    transform: translate(-45%, -50%);
}


@media (max-width: 480px){


}