/* o root serve como uma função global dentro do css, para armezar uma das coisas é variável */
:root{ 

    --primary-color: #F5CF06;       /* obrigátorio colocar o -- antes das variáveis*/
    --secundary-color: #8E4106;
}

body{
    height: 100vh; /* permite a altura 100% do site seja estilizada */
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 70px;
    font-family: Righteous, sans-serif;  /* a primeira fonte antes da , serve para o computador identificar ela, a que está depois é a que ele vai puxar*/
}
header{
    display: flex;
    align-items: center;
    gap: 16px;
}

header span{
    font-size: 32px;
    color: var(--secundary-color); /* para chamar a variável usamos o -- e já vai aparecer as opções para completar */
}

main{
  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sombra{
    position: absolute;
    font-size: 28vw;
    color: #ffffff55;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 22vw;
    color: white;
}

.container{
    height: 154px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 64px;
}

.explicacao{
    z-index: 1;
}
.explicacao h2{
    font-size: 64px;
    color: var(--secundary-color);
}

.explicacao p{
    font-size: 20px;
    color: var(--secundary-color);
    width: 500px;
}

.container a{
    width: 400px;
    height: 100px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
}


.pikachu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

footer{
    text-align: center;
    color: var(--secundary-color);
}

@media (max-width: 1024px){ /* usamos o @media (max-widht: a largura desejada para alterar, isso permitr que quando chegar nessa dimensão, faça as alterações*/

    body{
        padding: 30px;
    }
    footer{
        display: none;
    }
    .sombra{
        transform: translate(-50%, -180%);
       }
   h1{
    transform: translate(0, -30%);
   }
   .container{
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
    gap: 10px;
   }
   .explicacao p{
    text-align: center;
   }
   .pikachu{
    transform: translate(-45%, -50%);
}
}
    
@media (max-width: 480px){
    .explicacao p{
        display: none;
    }
    .pikachu{
        height: 50vh;
    }
    .sombra{
        transform: translate(-50%, -220%);
    }
    h1{
        transform: translate(0, -22%);
    }
    .explicacao h2{
        font-size: 38px;
    }
    .container a{
        width: 100%;
    } 
}